body {
    background-image: url(pika.png);
    background-repeat: no-repeat;
    background-size: 230px;
    background-position: 15% -100px;
}

img {
    width: 300px;
    height: 200px;
    margin-bottom: 8px;
}

.tip {
    font-style: italic;
}

.describe {
    font-weight: bold;
}

.title {
    font-weight: bold;
}

.card {
    margin: 0px auto;
    width: 300px;
    font-size: 10px;
    box-shadow:  5px 5px 1px 0px #cecece;
}

.common {
    background-color: white;
    border: 1px solid #cecece;
    padding: 10px;
}
